body {
  font-size: 62.5%; 
  font-family: 'lucida grande', verdana, arial, sans-serif;
  padding: 30px;
  background-color: #fff;
  background-position: top;
  background-repeat: repeat-x;
  color: #333;
}
input[type="text"], input[type="file"], textarea {
  background-color: #fff;
}

a, a:visited, a:active {
  font-weight: bold;
  color: #5E6577;
  text-decoration: none;
}
a:hover {
  color: #5E6577;
  text-decoration: underline;
}

#header, #headerlinks, #content, #footer {
  width: 100%;
  border: 0;
} 
#header tbody, #headerlinks tbody, #content tbody, #footer tbody {
  border: 0;
}
#footer td.footer {
  padding: 0;
  margin: 0;
  vertical-align: top;
  border-top: 1px solid #5E6577;
  }
#main-content {
  margin: 10px;
}
#main .block {
  margin: 5px 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #959596;
}
td#sidebar-first, td#main, td#sidebar-second, td.footer {
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  border: 0;
}

div.header-logo {
  margin: 10px;
  float: right;
}
.name-slogan {
  margin: 20px;
}
td#sidebar-first {
  width: 22em;
}
td#sidebar-second {
  width: 22em;
}
td#sidebar-first ul, td#sidebar-second ul {
  margin-left: 6px;
  padding: 3px 6px;
}
.block {
  margin: 5px 10px;
}
td#sidebar-first .block .title, td#sidebar-second .block .title {
  font-size: 1.2em;
  padding: 3px 10px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
  background-color: #5E6577;
}
#header, #header td.header-left, #header td.header-right {
  margin: 0;
  padding: 0;
}
#forum table, #block-node-recent table {
  width: 100%;
}
tr.odd, tr.even {
  background-color: transparent;
}
#footer ul#subnavlist {
  float: left;
  position: absolute; 
  margin: 0px;
  padding-left: 20px; 
}
#footer #subnavlist li {
  display: inline;
  padding: 0 5px; 
  border: 1px solid #5E6577;
}
#footer-inner {
  margin-top: 30px;
}
.headerlinks {
  margin: 0;
}
.headerlinks ul#navlist {
  margin: 0px;
  padding: 5px 10px 0 10px;
  border-bottom: 1px solid #5E6577;
}
.headerlinks ul#navlist li {
  display: inline;
  margin: 0px;
  padding: 0 5px;
  border: 1px solid #5E6577;
}
.headerlinks ul#navlist li:hover,  .headerlinks ul#navlist li:hover a, #footer ul#subnavlist li:hover,  #footer ul#subnavlist li:hover a {
  background-color: #5E6577;
  color: #fff;
  text-decoration: none;
}
.user-picture {
  border: 1px solid #959596;
}
.profile .user-picture {
  margin-left: 5px;
}
.user-picture img {
  border: 1px solid #fff;
}
.poll .text {
  font-weight: bold;
}
.poll .bar .foreground {
  background-color: #5E6577;
  border: 1px solid #fff;
}
#main span.submitted {
  margin-bottom: 5px;
}
#main .content {
  margin-top: 5px;
}
#main .node {
  padding-bottom: 5px;
}
#main #comments {
  border: 1px solid #959596;
  padding: 5px;
}
.footer-info {
  float: right;
  margin: 0 10px;
}

.footer-info li {
  list-style: none;
  font-size: 0.8em;
  margin-left: 5px;
  display: inline;
}
